* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient( #406E8E 70%, #003366);
    font-family: 'Inconsolata', monospace;
}
button {
    border: none;
    background: none;
    font-size: 2em;
}

/* Navigation CSS */
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
.nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.nav-item {
    font-weight: 1000;
}

/* Font CSS */
.font-incon {
    font-family: 'Inconsolata', monospace;
}
.font-mont {
    font-family: 'Montserrat', sans-serif;
}
.font-glory {
    font-family: 'Glory', sans-serif;
}
.mico-color-1 {
    color: #0C2746;
}
.mico-color-2 {
    color: #22476B;
}
.mico-color-3 {
    color: #406E8E;
}
.mico-color-4 {
    color: #5B92AB;
}

/* Header CSS */
#showcase {
    height: 100vh;
    background: url("../img/desktop.jpeg") bottom center / cover no-repeat;
    position: relative;
}
#header {
    z-index: 2;
}
#overlay {
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#header-name {
    font-size: 7.5em;
}
@media(max-width: 768px) {
    .navbar {
        background: #1f1f1f;
    }
    #showcase {
        min-height: 300px;
    }
}

/* About CSS */
#about {
    font-size: 4em;
}
#showcase_about {
    background: url("../img/question.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

/* Study CSS */
#showcase_study {
    height: 100vh;
    background: url("../img/chalkboard.jpg") bottom center / cover no-repeat;
    position: relative;
}
.about_icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    margin-top: -3rem;
    border-radius: 0.5rem;
}
.about-bg {
    background-color: rgba(255, 255, 255, 0.7);
}

.media_icons {
    font-size: 2.5em;
    color: #a16e83;
    margin-right: 25px;
}
.hb_logo {
    max-width: 45px;
    margin-right: 25px;
 }