:root {
    --color-extra-dark-blue: #003366;
    --color-dark-blue: #0C2746;
    --color-blue: #22476B;
    --color-light-blue: #406E8E;
    --color-extra-light-blue: #5B92AB;
    --color-primary: #0275d8;
    --color-pink: #a16e83;
    --color-dark-grey: #1f1f1f;
    --font-inconsolota: 'Inconsolata', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient( var(--color-light-blue) 70%, var(--color-extra-dark-blue));
    font-family: var(--font-inconsolota);
}
button {
    border: none;
    background: none;
    font-size: 2em;
}

/* Navigation CSS */
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
.nav-link:hover {
    transition: border 0.2s;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.nav-item {
    font-weight: 1000;
}

/* Font CSS */
.font-incon {
    font-family: var(--font-inconsolota);
}
.font-mont {
    font-family: 'Montserrat', sans-serif;
}
.font-glory {
    font-family: 'Glory', sans-serif;
}
.mico-color-1 {
    color: var(--color-dark-blue);
}
.mico-color-2 {
    color: var(--color-blue);
}
.mico-color-3 {
    color: var(--color-light-blue);
}
.mico-color-4 {
    color: var(--color-extra-light-blue);
}

/* Header CSS */
#showcase {
    height: 100vh;
    background: url("../img/desktop.jpeg") bottom center / cover no-repeat;
    position: relative;
}
#header {
    z-index: 2;
}
#overlay {
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#header-name {
    font-size: 7.5em;
}
@media(max-width: 768px) {
    .navbar {
        background: var(--color-dark-grey);
    }
    #showcase {
        min-height: 300px;
    }
}

/* Test Customization Modal */
.modal-dialog {
    margin-top: 100px;
}
.modal-header {
    background-color: var(--color-extra-dark-blue); 
    color: white;
}
.modal-body {
    background: linear-gradient( var(--color-extra-dark-blue) 10%, var(--color-light-blue));
}
#regForm {
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}
#register {
    color: var(--color-extra-dark-blue);
}
h1 {
    text-align: center
}
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none
}
.tab input:focus {
    border: 1px solid var(--color-primary) !important;
    outline: none
}
input.invalid {
    border: 1px solid #e03a0666
}
.tab {
    display: none
}
button {
    background-color: var(--color-primary);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}
button:hover {
    opacity: 0.8
}
button:focus {
    outline: none !important
}
#prevBtn {
    background-color: #bbbbbb
}
.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}
.step {
    height: 60px;
    width: 60px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--color-extra-dark-blue);
    opacity: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.step.active {
    opacity: 0.5
}
.step.finish {
    color: #fff;
    background: var(--color-extra-dark-blue);
    opacity: 0.5
}
.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

/* Question / Answer */
.description{
    height: 30vh;
    width: 100%
}
.question {
    height: 20vh;
    width: 100%
}
.answer {
    height: 30vh;
    width: 100%
}
.arrow-size {
    font-size: 1.5rem;
    border-color: transparent;
}
.arrow-size:hover {
    border-color: transparent;
}

/* About CSS */
#about {
    font-size: 4em;
    margin-top: 50px;
    margin-bottom: 100px;
}
#showcase_about {
    background: url("../img/question.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.showcase {
    height: 100vh;
    background: url("../img/chalkboard.jpg") bottom center / cover no-repeat;
    position: relative;
}
#results {
    padding-top:100px;
}
.about_icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    margin-top: -3rem;
    border-radius: 0.5rem;
    padding-bottom: 100px;
}
.about_img {
    width: 200px;
    height: 150px;
    border: 5px solid #5B92AB;
    border-radius: 0.5rem;
}
.about-bg {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 50px;
    opacity: 0.8;
    margin-bottom: -3.5rem;
}
.about-cards {
    padding-bottom: 100px;
}

.media_icons {
    font-size: 2.5em;
    color: var(--color-pink);
    margin-right: 25px;
}
.hb_logo {
    max-width: 45px;
    margin-right: 25px;
 }