:root {
    --color-extra-dark-blue: #003366;
    --color-dark-blue: #0C2746;
    --color-blue: #22476B;
    --color-light-blue: #406E8E;
    --color-extra-light-blue: #5B92AB;
    --color-primary: #0275d8;
    --color-pink: #a16e83;
    --color-dark-grey: #1f1f1f;
    --font-inconsolota: 'Inconsolata', monospace;
}

body {
    background: black;
}